body {
    background: rgb(144, 144, 228);
    
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

img {
    height: 100px;
    width: 100px;
}
h1 {
    text-align: center;
}

#about-me-div {
    text-align: center;
    width: auto;
    margin: auto;
    padding: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    justify-content: center;
}

